<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <!-- Navbar -->
    <div class="nav-top">
        <nav class="nav-new">
            <div class="nav-left">
                <a href="#" class="nav-logo-link">
                    <p class="nav-logo">logo</p>
                </a>
                <p class="nav-title">CRUNCH</p>
            </div>
            <!-- <div class="nav-right">
                <ul class="user-nav">
                    <li class="user-nav-link">Hi,</li>
                    <li><a href="#" class="user-nav-link">Logout</a></li>
                </ul>
            </div> -->
            <div class="nav-right">
                <ul class="user-nav">
                    <li><a href="logout" class="user-nav-link">Logout {{ user }}</a></li>
                    <li><a href="signup" class="user-nav-link">Sign-up</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="nav-bottom">
        <div class="table">
          <ul id="site-nav">
            <li><a href="#" class="nav-bottom-option">> Dashboard</a></li>
            <li><a href="new" class="nav-bottom-option">Create New Task</a></li>
          </ul>
        </div>
    </div>

    <!-- Dashboard main content; stories/tasks, etc -->
    <div id="dashboard-main">
        <div class="dashboard-categories-wrapper">
            <div class="dashboard-category">
                <h3 class="dashboard-category-title">
                    To-do
                </h3>
                {% for task in tasks %}
                {% if task.section == 'todo' %}
                <a href="{{ url_for('get_task', task_id = task.id) }}" class="task-card-link-wrapper"><div class="task-card">
                    <h4 class="task-card-title"> {{ task.name }} </h4>
                    <p class="task-card-details"> {{ task.description }} </p>
                </div></a>
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="dashboard-category">
                <h3 class="dashboard-category-title">
                    In Development
                </h3>
                {% for task in tasks %}
                {% if task.section == 'in-development' %}
                <a href="{{ url_for('get_task', task_id = task.id) }}" class="task-card-link-wrapper"><div class="task-card">
                    <h4 class="task-card-title"> {{ task.name }} </h4>
                    <p class="task-card-details"> {{ task.description }} </p>
                </div></a>
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="dashboard-category">
                <h3 class="dashboard-category-title">
                    In Review
                </h3>
                {% for task in tasks %}
                {% if task.section == 'in-review' %}
                <a href="{{ url_for('get_task', task_id = task.id) }}" class="task-card-link-wrapper"><div class="task-card">
                    <h4 class="task-card-title"> {{ task.name }} </h4>
                    <p class="task-card-details"> {{ task.description }} </p>
                </div></a>
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="dashboard-category">
                <h3 class="dashboard-category-title">
                    Completed
                </h3>
                {% for task in tasks %}
                {% if task.section == 'completed' %}
                <a href="{{ url_for('get_task', task_id = task.id) }}" class="task-card-link-wrapper"><div class="task-card">
                    <h4 class="task-card-title"> {{ task.name }} </h4>
                    <p class="task-card-details"> {{ task.description }} </p>
                </div></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <p class="footer-text">&copy; dataCrunchers Inc. 2022</p>
    </footer>
</body>
</html>
