<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>

    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/task-details.css">
</head>
<body>

    <!-- Navbar -->
    <div class="nav-top">
        <nav class="nav-new">
            <div class="nav-left">
                <a href="#" class="nav-logo-link">
                    <p class="nav-logo">logo</p>
                </a>
                <p class="nav-title">CRUNCH</p>
            </div>
            <div class="nav-right">
                <ul class="user-nav">
                    <li><a href="#" class="user-nav-link">Login</a></li>
                    <li><a href="#" class="user-nav-link">Sign-up</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="nav-bottom">
        <div class="table">
          <ul id="site-nav">
            <li><a href="/" class="nav-bottom-option">Dashboard</a></li>
            <li><a href="/" class="nav-bottom-option">> Create New Task</a></li>
          </ul>
        </div>
    </div>

    <!-- Task details content section -->
    <div id="task-details-main">
      {% if task %}
        <form action="{{ url_for('edit_task', task_id=task.id) }}" method="post">
      {% else %}
        <form action="new" method="post">
      {% endif %}
        <div id="task-details-card">
            <h3 class="task-details-title"> Title: </h3>
            <input type="text" name="name" value="{% if task %}{{task.name}}{% endif %}"/>
            <h3 class="task-details-section-header">Details:</h3>
              <div class="task-details-bodytext">
                <textarea name="description" rows="6" cols="0">
                {% if task %}
                  {{ task.description }}
                {% endif %}
                </textarea>
              </div>
              <h3 class="task-details-section-header">Comments:</h3>
            <div class="task-details-comments">
                placeholder for comments section/functionality
            </div>
            <div class="task-details-buttons-row">
                {% if task %}
                  <input type="submit" value="Save Task"/>
                {% else %}
                  <input type="submit" value="Add Task"/>
                {% endif %}
                <form class="task-details-form" action="#" method="#">
                    <label for="task-details-moveto" class="task-details-moveto-label">Move to...</label>
                    <select name="task-details-moveto" class="task-details-moveto">
                        <option class="task-details-move-option" value="todo">To-do</option>
                        <option class="task-details-move-option" value="in-development">In Development</option>
                        <option class="task-details-move-option" value="in-review">In Review</option>
                        <option class="task-details-move-option" value="completed">Completed</option>
                    </select>
                </form>
                <a class="task-details-button" href="/">Return to Dashboard</a>
            </div>
          </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <p class="footer-text">&copy; dataCrunchers Inc. 2022</p>
    </footer>
</body>
</html>
